/*GLOBAL STYLES*/

:root {
  --active: rgb(99, 77, 144);
  --text: #404043;
  --secundary-text: #aaa;
  --border: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--secundary-text);
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

html {
  font: 62.5% "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--text);
}

body {
  font-size: 1.6rem;
  padding: 0 32px;

  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s ease;
}

/*HEADER STYLES*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
}

.logo {
  height: 32px;
}

.nav {
  z-index: 10;
}

.toggle-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 1;
}

.toggle-menu div {
  position: relative;
  width: 24px;
  height: 24px;

  margin-right: 16px;
}

.toggle-menu div span {
  position: absolute;

  top: 50%;
  left: 0;

  height: 1px;
  width: 100%;

  background-color: var(--text);
  transform: translateY(-5px);
  transition: transform 0.2s ease, opacity 0.4s ease;
}

.toggle-menu div span:nth-of-type(2) {
  transform: translateY(0);
  opacity: 0;
}

.toggle-menu div span:nth-of-type(3) {
  transform: translateY(5px);
}

.toggle-menu:hover div span:nth-of-type(1) {
  transform: translateY(-8px);
}

.toggle-menu:hover div span:nth-of-type(2) {
  opacity: 1;
}

.toggle-menu:hover div span:nth-of-type(3) {
  transform: translateY(8px);
}

.toggle-menu strong {
  font-weight: 300;
  user-select: none;
  z-index: 1;
}

.menu {
  position: fixed;

  left: 100%;
  top: 0;

  width: 50%;
  max-width: 240px;
  height: 100vh;

  background: #fff;
  transition: transform 0.4s ease-out;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -99;
}

#chk:checked ~ .nav .toggle-menu div span:nth-of-type(1) {
  transform: rotate(-45deg);
}

#chk:checked ~ .nav .toggle-menu div span:nth-of-type(2) {
  opacity: 0;
}

#chk:checked ~ .nav .toggle-menu div span:nth-of-type(3) {
  transform: rotate(45deg);
}

#chk:checked ~ .nav .menu {
  transform: translateX(-100%) translateZ(0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.menu ul li {
  position: relative;
  overflow: hidden;

  padding: 8px;
  margin: 32px auto;
  font-size: 1.8rem;

  text-align: center;
}

.menu ul li::after {
  content: "";
  position: absolute;
  background: var(--text);

  bottom: 0;
  left: 0;

  height: 1px;
  width: 100%;

  transform: translateY(100%) translateZ(0);
  transition: 0.2s ease-out;
}

.selected::after,
.menu ul li:hover::after {
  transform: translateY(0) translateZ(0) !important;
}

.menu ul li a:hover {
  color: var(--text);
}

/*FOOTER STYLES*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80px;

  border-top: 1px solid var(--secundary-text);
  font-size: 1.4rem;
}

footer p {
  display: flex;
  align-items: flex-start;
}

footer p a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-weight: 700;
}

footer p + p {
  margin-top: 8px;
}

footer p a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;

  border-top: 1px solid var(--text);
  transform: translateY(100%) translateZ(0);
  transition: transform 0.2s ease-out;
}

footer p a:hover::after  {
  transform: translateY(0) translateZ(0);
}

/*NEWS STYLES*/

main {
  padding: 64px auto;
  max-width: 1028px;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 64px;
}

.news li {
  display: flex;
  flex-direction: column;
}

.news img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news h1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  font-size: 2.4rem;
  font-weight: 500;

  padding: 32px 0;
  margin-bottom: auto;
}

.external-link {
  opacity: 0.7;
  margin-left: 16px;
  transition: 0.2s ease;
}

.external-link:hover {
  opacity: 1;
}

.external-link img {
  height: 20px;
  width: 20px;
}

.news h1::after,
.news h2::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 1px;

  left: 0;

  background: var(--text);
}

.news h1::after {
  top: 16px;
}

.news h2::before {
  bottom: 16px;
}

.news h2 {
  position: relative;

  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 32px;
  margin-top: auto;

  color: #444;
}

.news h2 strong {
  font-size: 1.4rem;
  margin-right: 8px;
  color: var(--text);
}

/*ABOUT PAGE STYLES*/

.conteiner {
  padding: 48px 0;
  margin: auto;

  min-height: calc(100vh - 160px);
}

.about-main {
  display: flex;
  
  margin: auto;
  min-height: calc(100vh - 160px);
}

.about-main > div {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
}

.about-content {
  margin-left: 64px;
}

.about-content ul {
  position: relative;
}

.about-content h1 {
  position: relative;

  font-size: 3.6rem;
  font-weight: 400;
}

.links-group::after,
.about-content h1::before {
  content: "";
  position: absolute;

  height: 1px;
  width: 100%;

  left: 0;

  background: var(--text);
}

.about-content h1::before {
  bottom: -24px;
}

.about-content p a:hover {
  color: var(--active);
}

.about-content p {
  margin: 48px 0;

  font-size: 2rem;
  font-weight: 300;
}

.about-content p a {
  font-weight: 700;
  transition: color 0.2s ease;
}

.links-group::after {
  top: -24px;
}

.links-group {
  display: flex;
  align-items: center;
}

.links-group li {
  transition: transform 0.2s ease;
}

.links-group li:hover {
  transform: scale(1.2);
}

.links-group li:active {
  transform: scale(1);
}

.links-group li + li {
  margin-left: 32px;
}

.links-group li svg {
  height: 26px;
  width: 26px;
}

@media (max-width: 1006px) {
  .about-main > div {
    flex-direction: column;
    max-width: 563px;
  }

  .about-main img {
    width: 100%;
    object-fit: cover;
  }

  .about-content {
    margin: 32px 0 0;
  }
}

/*CONTACT STYLES*/

.contact-title {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-bottom: 64px;
}

.contact-title h1 {
  position: relative;

  margin: auto;
  font-weight: 300;
}

.contact-title h1::before {
  content: "";
  position: absolute;

  height: 2px;
  width: 120%;

  left: 50%;
  bottom: -8px;

  transform: translateX(-50%);
  background: var(--text);
}

.contact-title h2 {
  margin: auto;
  margin-top: 20px;
  max-width: 350px;
  
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--text);
}

form {
  width: 100%;
  max-width: 500px;

  margin: auto;
  font-size: 1.6rem;
}

.input-conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-bottom: 32px;
}

.input-conteiner label {
  margin-bottom: 8px;
  font-weight: 300;
}

.input-conteiner input {
  height: 44px;
}

form textarea,
.input-conteiner input {
  width: 100%;

  padding: 8px;
  font-size: 1.6rem;
  border: 1px solid var(--border);
  transition: border 0.4s ease-out;
}

form textarea:hover,
.input-conteiner input:hover {
  border: 1px solid var(--text);
}

form textarea {
  height: 144px;

  resize: vertical;
}

form button {
  display: block;
  margin-left: auto;
  
  background: #fff;
  height: 40px;
  
  padding: 0 16px;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;

  border: 1px solid var(--border);
  transition: border 0.2s ease;
}

form button:hover {
  border: 1px solid var(--text);
}

/*KNOW MORE PAGE*/
.refs-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 64px;
}

.refs-group li {
  text-align: center;

  margin: auto 0;
  border: 1px solid var(--border);
  transition: 0.4s ease;
}

.refs-group li a {
  display: block;
  padding: 50px 0;
}

.refs-group li:hover {
  border-color: var(--text);
}

.refs-group li a:hover {
  color: var(--text);
}

/*SUCESS STYLES*/

.sucess-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;
}

.sucess-main h1 {
  position: relative;
  font-size: 2.4rem;
}

.sucess-main h1::before {
  content: "";
  position: absolute;

  height: 2px;
  width: 110%;

  left: 0;
  bottom: -16px;

  background: var(--text);
}


.sucess-main div {
  display: flex;
  flex-direction: column;
}

.sucess-main p {
  font-size: 1.8rem;

  padding: 32px 0;
}

.sucess-main p,
.sucess-main a {
  margin-right: auto;
}

.sucess-main a {
  display: flex;
  align-items: center;

  border: 1px solid var(--border);
  transition: border 0.4s ease-out;
  padding: 8px;
  padding-right: 16px;
}

.sucess-main a img {
  margin-right: 12px;
}

.sucess-main a:hover {
  border: 1px solid var(--text);
}
